{% extends "RpgmsBundle:Default:base.html.twig" %}

{% block body %}
    {% include 'RpgmsBundle:BackEnd:dashboardHeader.html.twig' %}
    <div class="row">
        <div class="col-xs-2">Name:</div>
        <div class="col-xs-2">World Name:</div>
        <div class="col-xs-2">Status:</div>
        <div class="col-xs-2">Tools:</div>
    </div>
    
    <!-- Characters go here -->
    <div class="row">
        <div class="col-xs-2">sampleCharacter</div>
        <div class="col-xs-2">testWorld</div>
        <div class="col-xs-2"><span class="label label-success">Active</label></div>
        <div class="col-xs-2">
            <button class="btn btn-info">Edit</button>
            <button class="btn btn-danger">delete</button>
        </div>
    </div>
        <!-- Characters go here -->
    
    <div class="row">
        <div class="col-xs-2">
            <a class="btn btn-primary" href="{{ path('rpgms_user_characters_create') }}">New Character</a>
        </div>
    </div>
    
{% endblock %}