<!-- dashboardHeader.html.twig -->
<div class="row navigation">
    <div class="col-xs-12 navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">RPGMS</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            {% for link in navLinks %}
                {% if link.route != app.request.attributes.get('_route') %}
                    <li role="presentation"><a href="{{ path(link.route) }}">{{ link.name }}</a></li>
                {% else %}
                    <li role="presentation" class="active"><a href="{{ path(link.route) }}">{{ link.name }}</a></li>
                {%endif%}
            {% endfor %}
        </ul>
    </div>
</div>