<!-- dashboardHeader.html.twig -->
<div class="row navigation">
    <div class="col-xs-12 navbar navbar-default" role="navigation">
        <ul class="nav navbar-nav">
            <li role="presentation"><a href="{{ path('rpgms_user_profile') }}">Profile</a></li>
            <li role="presentation"><a href="{{ path('rpgms_user_characters') }}">My Characters</a></li>
            <li role="presentation"><a href="{{ path('rpgms_user_worlds') }}">My Worlds</a></li>
        </ul>
    </div>
</div>