services:
    rpgms.dice_service:
        class: RpgmsBundle\Helper\DiceService
        arguments: ["@doctrine.orm.entity_manager"]
        
    rpgms.world_service:
        class: RpgmsBundle\Helper\WorldService
        arguments: ["@doctrine.orm.entity_manager"]
                
    rpgms.rollview_service:
        class: RpgmsBundle\Helper\RollViewService
        arguments: ["@doctrine.orm.entity_manager"]
        
        
    app.form.type.rollset:
        class: RpgmsBundle\Form\Type\DiceRoller\RollSetType
        arguments: ["@doctrine.orm.entity_manager"]
        tags:
            - { name: form.type }
        
    app.form.type.world:
        class: RpgmsBundle\Form\Type\BackEnd\WorldType
        arguments: ["@doctrine.orm.entity_manager"]
        tags:
            - { name: form.type }
        
    app.form.type.playercharacter:
        class: RpgmsBundle\Form\Type\BackEnd\PlayerCharacterType
        arguments: ["@doctrine.orm.entity_manager"]
        tags:
            - { name: form.type }